/*
 * -------------------------------------------------
 *  nf-core/qtlmap Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {
  container = params.container

  cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  maxRetries = 10
  maxErrors = '-1'

  // errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  errorStrategy = { task.exitStatus in [1] ? 'terminate' : 'retry' }

  withName: lift_to_GRCh38 {
      memory = { check_max( 16.GB * task.attempt, 'memory' ) }
      cpus = 1
      time = { check_max( 4.h * task.attempt, 'time' ) }
  }
  withName: tabix_index_gwas {
      memory = { check_max( 8.GB * task.attempt, 'memory' ) }
      cpus = 1
      time = { check_max( 2.h * task.attempt, 'time' ) }
  }
  withName: extract_lead_var_pairs {
      memory = { check_max( 4.GB * task.attempt, 'memory' ) }
      cpus = 1
      time = { check_max( 1.h * task.attempt, 'time' ) }
  }
  withName: run_coloc {
      memory = { check_max( 8.GB * task.attempt, 'memory' ) }
      cpus = 1
      time = { check_max( 3.h * task.attempt, 'time' ) }
  }
  withName: merge_coloc_results {
      memory = { check_max( 16.GB * task.attempt, 'memory' ) }
      cpus = 1
      time = { check_max( 2.h * task.attempt, 'time' ) }
  }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 120.h
}
