params {
    gwas_ss_tsv = "${baseDir}/testdata_coloc/gwas_sumstats_all.tsv" 
    qtl_ss_tsv = "${baseDir}/testdata_coloc/eqtl_sumstats_tx.tsv"
    gwas_lift_chain = "/gpfs/hpc/projects/eQTLCatalogue/GRCh37_to_GRCh38/GRCh37_to_GRCh38.chain.gz"
    hg38_ref_genome = "/gpfs/hpc/projects/genomic_references/annotations/hg38/hg38.fa"
    outdir = './results_coloc_tx'
    // gene_variant_list = "/gpfs/hpc/home/kerimov/qtlmap/testdata_coloc/lead_pairs_microarr2.tsv"
    cis_window = 200000
    n_batches = 10
}

executor {
    name = 'slurm'
    queueSize = 1000
    submitRateLimit = 1
}

process {
    executor = 'slurm'
    queue = 'main'
    beforeScript = 'module load singularity/3.5.3'

    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }

    maxRetries = 10
    maxErrors = '-1'

    // errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
    errorStrategy = { task.exitStatus in [1] ? 'terminate' : 'retry' }

    withName: lift_to_GRCh38 {
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        cpus = 1
        time = { check_max( 4.h * task.attempt, 'time' ) }
    }
    withName: tabix_index_gwas {
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        cpus = 1
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }
    withName: extract_lead_var_pairs {
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        cpus = 1
        time = { check_max( 1.h * task.attempt, 'time' ) }
    }
    withName: run_coloc {
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        cpus = 1
        time = { check_max( 3.h * task.attempt, 'time' ) }
    }
    withName: merge_coloc_results {
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        cpus = 1
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}