params {
    gwas_ss_tsv = "${baseDir}/testdata_coloc/gwas_sumstats.tsv" 
    qtl_ss_tsv = "${baseDir}/testdata_coloc/eqtl_sumstats_head.tsv"
    gwas_lift_chain = "/gpfs/hpc/projects/eQTLCatalogue/GRCh37_to_GRCh38/GRCh37_to_GRCh38.chain.gz"
    hg38_ref_genome = "/gpfs/hpc/projects/genomic_references/annotations/hg38/hg38.fa"
    outdir = './results_coloc'
    gene_variant_list = "${baseDir}/testdata_coloc/lead_pairs_rnaseq.tsv"
    cis_window = 200000
    n_batches = 100
}

executor {
    name = 'slurm'
    queueSize = 400
    submitRateLimit = 1
}

process {
    executor = 'slurm'
    queue = 'main'
    beforeScript = 'module load singularity/3.5.3'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}