params {
    gwas_ss_tsv = "/Users/kerimov/Work/NF/qtlmap/test_data_cross/gwas_sumstats.tsv" 
    qtl_ss_tsv = "/Users/kerimov/Work/NF/qtlmap/test_data_cross/eqtl_sumstats_head.tsv"
    gwas_lift_chain = "/Users/kerimov/Work/NF/qtlmap/test_data_cross/GRCh37_to_GRCh38.chain.gz"
    hg38_ref_genome = "/Users/kerimov/Work/NF/qtlmap/hg38/hg38.fa"
    outdir = './results_coloc'
    gene_variant_list = "/Users/kerimov/Work/NF/qtlmap/test_data_cross/lead_pairs_rnaseq_head.tsv"
    cis_window = 200000
    n_batches = 2
}