/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/qtlmap -profile test
 */

params {
  // Input data
  gwas_ss_tsv = "${baseDir}/testdata_coloc/gwas_sumstats_test.tsv" 
  qtl_ss_tsv = "${baseDir}/testdata_coloc/eqtl_sumstats_test_perm.tsv"
  gwas_lift_chain = "/gpfs/hpc/projects/eQTLCatalogue/GRCh37_to_GRCh38/GRCh37_to_GRCh38.chain.gz"
  hg38_ref_genome = "/gpfs/hpc/projects/genomic_references/annotations/hg38/hg38.fa"
  outdir = './results_coloc_test_perm'
  use_permutation = true
  cis_window = 200000
  n_batches = 10
}

